/* ========================================================= Main ===*/
body{
  background-color: #4f4b48;
  background-image: url("../img/leather.png");
  color: #fff;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}
h1{
  color: #fff;
  font-family: 'liberator', serif;
  font-weight: 400;
}
h3{
  font-family: 'liberator',serif;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 10px;
}
p{
  color: #ccc;
}
/* ========================================================= Intro ===*/
.intro{
  border-bottom: 1px solid #000000;
  box-shadow: 0 -1px 0 #333333 inset;
  padding: 20px 0 5px;
}
.intro img{
  display: block;
  margin: 15px auto;
}
.intro .span9{
  background-color: rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  padding: 35px 35px 20px;
}
.intro{
  text-align: center;
}
.intro h1{
  font-size: 54px;
  font-style: italic;
  margin: 0 0 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7), 0 2px 2px rgba(0,0,0,0.6), 0 6px 3px rgba(0,0,0,0.5);
  text-transform: uppercase;
}
.intro p{
  font-size: 18px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.intro .porsche{
  max-width: 100px;
}
.intro .stitch{
  background-image: url("../img/stitch.png");
  height: 8px;
  margin: 20px 0 0;
}
/* ========================================================= Photos ===*/
.photos{
  background-image: url("../img/seat.png");
  box-shadow: 0 0 30px rgba(0,0,0,0.6) inset;
  padding: 70px 0 40px;
}
.photos ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.photos li{
  margin-bottom: 30px;
}
.photos a{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.photos a:hover{
  text-decoration: none;
}
.thumbnail{
  background-color:#fff;
  border: 1px solid #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.thumbnail:hover, a.thumbnail:focus {
  border: 1px solid #fff;
  border-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.photos img{

}
.photos span{
  display: inline-block;
}
.photos i{
  float: right;
  margin: 5px 0 0 0;
}
.photos .twitter{
  color: #00acee;
}
.photos .instagram{
  color: #634d40;
}
/* ========================================================= Rules ===*/
.rules{
  border-top: 1px solid #000;
  box-shadow: 0 1px 0 #333333 inset;
  padding: 5px 0 40px;
}
.rules h3{
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 1px 5px rgba(0, 0, 0, 0.6);
}
.rules p{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.rules .stitch{
  background-image: url("../img/stitch.png");
  height: 8px;
  margin: 0 0 40px;
}
