<!--

  Update.html

  url     : URL
  image_src : URL, MIME: image/*
  username  : STRING
  data_provider : STRING, IS IN ['twitter','instagram']

  TODO: Add guarding logic for data_providers. Previous attempt failed.

-->

<li class="span3" class="nextUpdate">
<a <% if(typeof url  !== "undefined"){ print(" href='"+url+"'");} %> class="thumbnail">
  <img <% 
        if(typeof image_src  !== "undefined"){ print(" src='"+image_src+"'");}
        else{print(" src='http://placehold.it/500x500'")}
       %>
  >
    <div class="caption">
      <span> <% if(typeof username  !== "undefined"){
        print("@"+username);}else{ print("NO USERNAME SPECIFIED");} %></span>
      <%
        if(data_provider === "twitter"){
          print("<i class='ss-icon ss-social twitter'>&#xF611;</i>");
        }else{
         print("<i class='ss-icon ss-social instagram'>&#xF641;</i>");
         }         
        %>
    </div><!--/caption-->
  </a>
</li>
