<!--

  Update.html

  url     : URL
  image_src : URL, MIME: image/*
  username  : STRING
  data_provider : STRING, IS IN ['twitter','instagram']

-->

<li class="span3">
<a <% if(typeof url  !== "undefined"){ print(" href='"+url+"'");} %> class="thumbnail">
  <img <% 
        if(typeof image_src  !== "undefined"){ print(" src='"+image_src+"'");}
        else{print(" src='http://placehold.it/500x500'")}
       %>
  >
    <div class="caption">
      <span> <% if(typeof username  !== "undefined"){
        print("@"+username);}else{print("NO USERNAME SPECIFIED");} %></span>
      <% if(typeof data_provider !== "undefined"){
           if(data_provider === "twitter"){
             print("<i class='ss-icon ss-social twitter'>&#xF611;</i>");
           }else if(data_provider === "instagram"){
            print("<i class='ss-icon ss-social instagram'>&#xF641;</i>");
           }else{
            print("<i class='ss-icon ss-social'>INVALID DATA PROVIDER SPECIFIED. MUST BE EITHER 'twitter' OR 'instagram'</i>");
           }
         }else{
          print("<i class='ss-icon ss-social'>NO DATA PROVIDER SPECIFIED</i>");
         }
         %>
      <i class="ss-icon ss-social twitter">&#xF611;</i>
    </div><!--/caption-->
  </a>
</li>
